page-modal-result {

  .close-btn{
    padding: 10px;
    position: absolute;
    right: 13px;
    top: 13px;
    border-radius: 2px;
    border: 1px solid lightgray;
    background: transparent;
    color: gray;
  }
}
